[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
algosec-resilient = {editable = true,path = "."}

[dev-packages]
flake8 = "*"
tox = "*"
# pytest-resilient-circuits support pytest version before 4.1.0
pytest = "<4.1.0"
pytest-cov = "*"
pytest-resilient-circuits = ">=31.0.0"
mock = "*"
six = "*"

[requires]
python_version = "3.6"
