[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
algosec-resilient = {editable = true, path = "."}

[dev-packages]
flake8 = "*"
tox = "*"
pytest = "*"
pytest-cov = "*"
pytest-responses = "*"
pytest-resilient-circuits = "*"

[requires]
python_version = "3.6"
